BoletoBr/BoletoBr/bin/Debug/BoletoBr.pdb
*.dll
BoletoBr/BoletoBr/bin/Release/BoletoBr.pdb
BoletoBr/BoletoBr.View.Win/obj/Release/build.force
BoletoBr/BoletoBr.UnitTests/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BoletoBr/BoletoBr.View.Win/bin/Release/BoletoBr.View.Win.vshost.exe
BoletoBr/BoletoBr.UnitTests/obj/Release/build.force
BoletoBr/BoletoBr.UnitTests/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
BoletoBr/BoletoBr.UnitTests/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BoletoBr/BoletoBr.View.Win/bin/Release/BoletoBr.View.Win.exe.config
BoletoBr/BoletoBr.UnitTests/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BoletoBr/BoletoBr.View.Win/bin/Release/BoletoBr.View.Win.vshost.exe.config
BoletoBr/BoletoBr.View.Win/bin/Release/BoletoBr.View.Win.vshost.exe.manifest
BoletoBr/BoletoBr.View.Win/obj/Debug/BoletoBr.View.Win.csproj.FileListAbsolute.txt
BoletoBr/BoletoBr.View.Win/obj/Release/BoletoBr.View.Win.csproj.FileListAbsolute.txt
BoletoBr/BoletoBr.View.Win/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
BoletoBr/BoletoBr.View.Win/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BoletoBr/BoletoBr.View.Win/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BoletoBr/BoletoBr/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BoletoBr/BoletoBr/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BoletoBr/BoletoBr/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BoletoBr/BoletoBr/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
BoletoBr/BoletoBr/obj/Release/BoletoBr.pdb
BoletoBr/BoletoBr/obj/Release/BoletoBr.csproj.FileListAbsolute.txt
BoletoBr/BoletoBr.View.XtraReport/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BoletoBr/BoletoBr.View.XtraReport/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BoletoBr/BoletoBr.View.Win/obj/Debug/BoletoBr.View.Win.csproj.FileListAbsolute.txt
BoletoBr/BoletoBr.View.Win/obj/Debug/BoletoBr.View.Win.csproj.FileListAbsolute.txt
BoletoBr/BoletoBr.View.Win/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BoletoBr/BoletoBr.View.XtraReport/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BoletoBr/BoletoBr.View.XtraReport/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
BoletoBr/BoletoBr.View.XtraReport/obj/Release/build.force
BoletoBr/BoletoBr.View.Win/obj/Debug/BoletoBr.View.Win.csproj.FileListAbsolute.txt
BoletoBr/BoletoBr.View.Win/obj/Debug/BoletoBr.View.Win.csproj.FileListAbsolute.txt
BoletoBr/BoletoBr.View.Win/obj/Debug/BoletoBr.View.Win.csproj.FileListAbsolute.txt
BoletoBr/BoletoBr.View.Win/obj/Debug/BoletoBr.View.Win.csproj.FileListAbsolute.txt
BoletoBr/BoletoBr.View.Win/obj/Debug/BoletoBr.View.Win.csproj.FileListAbsolute.txt
BoletoBr/BoletoBr.View.Win/obj/Debug/BoletoBr.View.Win.csproj.FileListAbsolute.txt